@import "tailwindcss";
@plugin "daisyui";
 

html,
body {
  background-color: white;
}
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

main {
  margin: 0 !important;
  padding: 0 !important;
}